{
  "printWidth": 120,
  "quoteProps": "preserve",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "trimTrailingWhitespace": true,
  "insertFinalNewline": true
}
