:root {
  --color-primary: #535bf2;
  --color-secondary: #a7a7a7;
  --color-success: #00c853;
  --color-error: #ff3d00;
  --color-warning: #ffab00;
  --color-info: #00b0ff;
  --color-light: #ffffff;
  --color-dark: #000000;
}
